.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container * {
  margin: 0
}

.container > img {
  width: 32px;
  margin-right: 12px;
}

.container section {
  display: flex;
  flex-direction: column;
}