.container {
  display: flex;
  margin-bottom: 21px;
  flex-direction: column;
  align-items: flex-start;
}

.container * { margin: 0 }

.container h1 {
  margin-bottom: 21px;
}

.container h3 {
  font-size: 16px;
  font-weight: 600;
  color: #00a0df;
  margin-bottom: 10px;
}