.container {
  height: 100%;
  display: flex;
  overflow: scroll;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.container article {
  width: 100%;
  display: flex;
  max-width: 700px;
  flex-direction: column;
  padding: 21px 21px 42px 21px;
  
  /* border-radius: 5px; */
  /* background-color: white;
  border-left: 1px solid rgb(220, 220, 220);
  border-right: 1px solid rgb(220, 220, 220); */
}

.container p {
  text-indent: 21px;
  text-align-last: left;
}
